<!--
These elements should be added to the page that contains the dynamic TOC.
They will be hidden by CSS.
* #float-toc serves as an anchor for the JS function to add the dynamic TOC.
* button #show-toc is hidden by default - shown when the main TOC is hidden.
The Heading elements must be contained within a div with an id of "wrapper". 
-->
<div id="float-toc"></div>
<button type='button' class='btn btn-default btn-lg' id='show-toc' aria-label='Open'><span aria-hidden='true'>Show the Page Navigation</span></button>
